
/* price meter */
.price-meter-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-meter-outer.mini {
  scale: 0.6;
  -ms-transform: scale (0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
}

.price-meter {
  background: linear-gradient(to right, var(--bg-purple), var(--bg-pink));
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 10px;
  margin: 0 5px;
}

.price-meter-description {
  color: var(--txt-primary);
  text-align: center;
  font-weight: 700;
  padding-top: 10px;
  margin-top: -20px;
  z-index: 10;
  font-size: 14px;
}

.price-meter-inner {
  background: var(--bg-white);
  width: 80px;
  height: 80px;
  border-radius: 80px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.price-meter-inner:before {
  background: var(--bg-white);
  content: "";
  width: 120px;
  height: 24px;
  display: block;
  position: absolute;
  bottom: -10px;
}

.price-meter-value {
  color: var(--txt-primary);
  font-weight: 700;
  font-size: 18px;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
}

@media (min-width: 380px) {
  .price-meter {
    margin: 0 10px;
  }

  .price-meter-outer.mini {
    scale: 0.8;
  }
}
@media (min-width: 768px) {
  .price-meter {
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
  
  .price-meter-inner {
    width: 130px;
    height: 130px;
    border-radius: 130px;
  }
    
  .price-meter-value {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .price-meter {
    width: 180px;
    height: 180px;
    border-radius: 180px;
  }
  
  .price-meter-inner {
    width: 160px;
    height: 160px;
    border-radius: 160px;
  }
    
  .price-meter-value {
    font-size: 36px;
  }
}

.error-box {
  min-height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txt-red);
}