.link-button {
  border: 1px solid var(--border-primary);
  color: var(--txt-primary);
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
  font-size: 12px;
  margin:5px;
  cursor: pointer;
}