/* model selector*/
.model-selector {
  background: var(--bg-white);
  border: 1px solid var(--border-grey-light);
  border-radius: 3px;
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .model-selector {
    width: auto;
    flex-direction: row;
    align-items: center;
  }
}

/* Button */
.btn-primary {
  background-color: var(--bg-purple);
  border-color: var(--border-purple);
  color: var(--txt-white);
  outline: var(--border-purple);
  border-style: none;
  cursor: pointer;
  width: 100%;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 15px;
}

.btn-primary:hover {
  background-color: var(--bg-purple-hover);
  border-color: var(--border-purple-hover);
}

@media (min-width: 768px) {
  .btn-primary {
    width: auto;
    font-size: 16px;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
}

