/* Heading */
.heading {
  font-size: 48px;
  text-shadow: 0 2px 3px var(--bg-primary);
 }
 
 @media (min-width: 768px) {
   .heading {
     font-size: 72px
   }
 }
 
 @media (min-width: 1024px) {
   .heading {
     font-size: 92px
   }
 }
 
 /* Sub heading */
 .sub-heading {
   font-size: 14px;
   font-weight: 700;
   text-shadow: 0 2px 3px var(--bg-primary);
 }
 
 @media (min-width: 380px) {
   .sub-heading {
     font-size: 16px
   }
 }
 @media (min-width: 768px) {
   .sub-heading {
     font-size: 22px
   }
 }
 
 /* banner */
 .banner {
   /* background-image: url('https://via.placeholder.com/1300x500/004c99/004c99?text='); */
   background-image: linear-gradient(to bottom, var(--bg-sky-blue-dark), var(--bg-grey-medium), var(--bg-green-dark), var(--bg-gold), var(--bg-wheat));
   color: var(--txt-white);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding-top: 25px;
   padding-bottom: 25px;
 }

 @media (min-width: 768px) {
   .banner {
    padding-top: 55px;
    height: 60vh;
   }
 }
 
 .banner .spacing {
   margin-top: 15px;
 }
 
 .padded-content {
  padding: 5px 12px;
 }