/* Select */
.select-container {
  display: block;
  padding: 0 5px 0 0;
  position: relative;
}

.select-container select {
  text-transform: capitalize;
  -webkit-appearance:none;
  padding-left: 7px;
}

.select-container:before {
  border: 2px solid var(--border-primary);
  background: var(--bg-white);
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0;
  z-index: 1;
  top: 22px;
  right: 15px;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(135deg);
  cursor: pointer;
}

.select-container:after {
  border-bottom: 1px solid var(--border-grey-light);
  content: "";
  display: block;
  margin-bottom: 10px;
}

.select-label {
  color: var(--txt-primary);
  display: block;
  font-size: 11px;
  font-weight: 700;
  padding-left: 5px;
} 

.select-label:after {
  background: var(--bg-white);
  content: "";
  width: 20px;
  height: 26px;
  display: block;
  position: absolute;
  right: 3px;
}

.select-input {
  background: var(--bg-white);
  outline-color: var(--bg-white);
  height: 30px;
  border: 0;
  border-radius: 0;
  width: 100%;
  cursor: pointer;
  font-size: 12px;
}

@media (min-width: 768px) {
  .select-container {
    display: inline-block;
  }
  .select-container:after {
    border-left: 1px solid var(--border-grey-light);
    border-bottom: 0;
    margin-bottom: 0; 
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    right: 1px;
    top: 50%;
    margin-top: -15px;
  }

  .select-label {
    padding-left: 7px;
  }

  .select-input {
    width: 150px;
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  .select-input {
    width: 180px;
  }
}