/* Header */
.header {
  background: var(--bg-primary);
  color: var(--txt-white);
  height: 60px;
  padding: 10px;
  width: 100%;
  cursor: pointer
}

.theme-default .badge {
  display: none;
}

.theme-default.offline .badge {
  float: left;
  display: block;
  background: var(--bg-red);
  color: var(--txt-pale);
  text-align: left;
  margin-top: 10px;
  font-weight: 700;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
}

.logo {
  float: right;
  border: 2px solid var(--border-white);
  padding: 5px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  border-left: 0;
  margin-left: 20px;
}

.logo a {
  color: var(--txt-white);
  text-decoration: none;
  cursor: pointer;
}

.logo:after {
  border: 2px solid var(--border-white);
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  left: -12px;
  top: 3px;
  border-left: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(-135deg);
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}