.price-page {
  padding: 5px 12px;
}

.description {
  background: var(--bg-grey-lighter);
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.description .car-info {
  flex: 1;
}

.description .primary {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 20px;
}

.description .secondary {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
}

.inline-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media(min-width: 768px) {
  .inline-display > div {
    margin-right: 15px;
  }
}


.change {
  background-color: var(--bg-purple);
  border-color: var(--border-purple);
  color: var(--txt-white);
  border-style: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
}

.change:hover {
  background-color: var(--border-purple-hover);
  border-color: var(--border-purple-hover);
}