.title {
  font-size: 22px;
  text-align: center;
  margin: 15px 0 10px;
  font-weight: 700;
}

.related-cars {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 10px 10px;
}