html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
}

@keyframes fadein {
  0% { opacity: 0; }
  50%   { opacity: 0.75; }
  75%   { opacity: 0.95; }
  100%   { opacity: 1; }
}

.centered-container {
  max-width: 1024px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.theme-default {
  /* Background colors */
  --bg-primary: #231f20; 
  --bg-pink: #d108e5;
  --bg-purple: #8f63f4;
  --bg-purple-hover: #885ee8;
  --bg-grey-lighter: #f5f5f5;
  --bg-grey-light: #bebabb;
  --bg-grey-medium: #c5c2c1;
  --bg-white: #fff;
  --bg-sky-blue-dark: #224156;
  --bg-green-dark: #3c5127;
  --bg-gold: #cead5c;
  --bg-wheat: #d1c3b0;
  --bg-red: #e51212;

  /* Text colors */
  --txt-white: #fff;
  --txt-pale: #fff;
  --txt-primary: #231f20;
  --txt-red: #e51212;

  /* Border colors */
  --border-white: #fff;
  --border-primary: #231f20;
  --border-grey-light: #bebabb;
  --border-purple: #8f63f4;
  --border-purple-hover: #885ee8;
}

.theme-default.offline {
  /* Background colors */
  --bg-primary: #6d6d6d; 

  /* --bg-sky-blue-dark: #fff; */
  --bg-sky-blue-dark: #7d8b94;
  --bg-green-dark: #666d5f;
  --bg-gold: #aca491;
  --bg-wheat: #d6d0c8;
  
  /* --bg-sky-blue-dark: #b0b7bd;
  --bg-green-dark: #eee;
  --bg-gold: #ccc;
  --bg-wheat: #bbb; */

  --bg-purple: #ccc;
  --bg-purple-hover: #e9e9e9;
  --bg-pink: #444;

  /* Text colors */
  --txt-white: #000;
  

  /* Border colors */
  --border-white: #000;
  --border-purple-hover: #e9e9e9;
}