
.price-meters {
  border: 1px solid var(--border-grey-light);
  background: var(--bg-white);
  border-radius: 3px;
  padding: 10px;
}

.price-est {
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  -webkit-animation: fadein 1.25s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.25s; /* Firefox < 16 */
  -ms-animation: fadein 1.25s; /* Internet Explorer */
  -o-animation: fadein 1.25s; /* Opera < 12.1 */
  animation: fadein 1.25s;
}

@media(min-width: 768px) {
  .price-est {
    font-size: 16px;
  }
}